@use "./layout/variables" as *;

.benefits-section {
  padding: 50px 0;
  @media (min-width: $laptop) {
    padding: 75px 0;
  }
  @media (min-width: $pc-xl) {
    padding: 150px 0;
  }
  .top-holder {
    text-align: center;
    margin-bottom: 25px;
    @media (min-width: $laptop) {
      margin-bottom: 43px;
    }
  }
}

.benefits-list {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media (min-width: $pc-xl) {
    column-gap: 105px;
    row-gap: 35px;
  }
  .benefit {
    margin-bottom: 40px;
    @media (min-width: $tablet) {
      margin-bottom: 0;
      width: calc(33.33% - 20px);
    }
    @media (min-width: $pc-xl) {
      width: calc(33.33% - 70px);
    }
    &.icon-checkmark {
      &:before {
        background: $dark-blue;
        color: $white;
        border: 4px solid $white;
        outline: 1px dashed $dark;
        position: static;
        width: 80px;
        height: 80px;
        font-size: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
      }
    }
    .title {
      margin-bottom: 11px;
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}