//Variables
$white: #fff;
$black: #000;
$dark: #141414;
$light-blue: #9BB7BF;
$blue: #7A9CA5;
$dark-blue: #5C8692;
$gray: #555;
$dark-green: #1E2C30;
$light: #EBF3F5;

$orange: #FF5000;
$green: #00C508;
$purple: #B900D7;
$light-yellow: #FFF9E8;

$base-font: "Manrope", "Times", "Baskerville", "Georgia", serif;
$headings-font: "Playfair Display", "Times", "Baskerville", "Georgia", serif;

$tablet: 768px;
$laptop: 1024px;
$pc: 1280px;
$pc-xl: 1600px;
$pc-xxl: 1920px;

$font-size: 16px;
